@page
<div>
    <form method="get" asp-page="/page1/Search">

        <asp:label>RollNo</asp:label>
        <input id="roll" name="roll" required type="text">

        @* <span asp-validation-for="RollNo" class="text-danger"></span> *@

        <button id="roll" type="submit">Submit</button>

    </form>
</div>